{% extends "Account/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}
<!-- is_authenticated -->
<!-- is_superuser -->
{% block user %}
{% if request.user.is_superuser %} {{request.user.username|title}} {% endif %}
{% endblock %}

{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-2 col-md-4">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Total Students</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{total}}</h1>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Present Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{present}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Absent Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{absent}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Total Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{total_record}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">From Date</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5>{{start}}</h5>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">To Date</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5>{{last}}</h5>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-tools me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='fas fa-tools'></i>&nbsp;Add</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#attandance"><i class='fas fa-search'></i>&nbsp;Attandance</button>
                        <button type="button" class="btn btn-secondary"><i class='fas fa-tools'></i>&nbsp;Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Student Id</th>
                            <th>Student Roll</th>
                            <th>Class</th>
                            <th>Atandance</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                
                    <input class="form-control my-2" type="text" placeholder="Username" aria-label="default" name="username">
                    <input class="form-control my-2" type="email" placeholder="Email Id" aria-label="default" name="email">
                    <input class="form-control my-2" type="text" placeholder="First Name" aria-label="default" name="last_name">
                    <input class="form-control my-2" type="text" placeholder="Last Name" aria-label="default" name="first_name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="submit" class="btn btn-primary">Save</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="attandance" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                
                    <input class="form-control my-2" type="date" name="date" id="date">
                    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                    
                    <select class="form-select my-2" aria-label="Default" name="stander">
                        <option selected>Open this select menu</option>
                        <option value="MCA">MCA</option>
                        <option value="CS">CS</option>
                        <option value="IT">IT</option>
                    </select>

                    <label for="exampleDataList" class="form-label my-2">Datalist example</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option value="San Francisco">
                        <option value="New York">
                        <option value="Seattle">
                        <option value="Los Angeles">
                        <option value="Chicago">
                    </datalist>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    $('#datatablesSimple').DataTable({
            data: {{ month| safe}},
            columns: [
                { "data": "student_name_id" },
                { "data": "student_roll" },
                { "data": "student_class" },
                { "data": "student_attandance" },
                { "data": "created_at" },
                { "data": "updated_at" },
            ]
        });
            
</script>
{% endblock %}