{% extends "Account/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
<!-- is_authenticated -->
<!-- is_superuser -->
{% block user %}
{% if request.user.is_superuser %} {{request.user.username|title}} {% endif %}
{% endblock %}

{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-2 col-md-4">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Total Students</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{total}}</h1>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Present Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{present}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Absent Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{absent}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Total Record</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h1>{{total_record}}</h1>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">From Date</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5>{{start}}</h5>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">To Date</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5>{{last}}</h5>
                        <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Student Id</th>
                            <th>Student Roll</th>
                            <th>Class</th>
                            <th>Atandance</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                    <!-- <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    var tabledata = {{month|safe}};
    $('#datatablesSimple').DataTable({
            data: tabledata,
            columns: [
                { "data": "student_name_id" },
                { "data": "student_roll" },
                { "data": "student_class" },
                { "data": "student_attandance" },
                { "data": "created_at" },
                { "data": "updated_at" },
            ]
        });
            
</script>
{% endblock %}